<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="init"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:vaadin="http://www.jdal.org/schema/vaadin"
	xmlns:jdal="http://www.jdal.org/schema/jdal"
	xsi:schemaLocation="http://www.jdal.org/schema/jdal http://www.jdal.org/schema/jdal/jdal-core.xsd
		http://www.jdal.org/schema/vaadin http://www.jdal.org/schema/jdal/jdal-vaadin.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="org.jdal.samples"/>
	<context:property-placeholder location="classpath:jdbc.properties"/>
	 
	<!-- DataSource -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />

		<property name="acquireIncrement" value="3" />
		<property name="minPoolSize" value="2" />
		<property name="maxPoolSize" value="15" />
		<property name="maxIdleTime" value="5" />
		<property name="numHelperThreads" value="5" />

		<property name="idleConnectionTestPeriod" value="10" />
		<property name="autoCommitOnClose" value="false" />
		<property name="preferredTestQuery" value="select 1;" />
		<property name="testConnectionOnCheckin" value="true" />

		<property name="checkoutTimeout" value="60000" />
	</bean>
	
     <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
      <property name="dataSource" ref="dataSource"/>

	  <property name="jpaDialect">
        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
     </property>
     <property name="jpaVendorAdapter">
       <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
         <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect"/>
       </bean>
     </property>
    </bean>


    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
      <property name="entityManagerFactory" ref="entityManagerFactory"/>
      <property name="dataSource" ref="dataSource"/>
    </bean>
	
   	<!-- Persistent Services -->
   	
  	<jdal:service entity="org.jdal.samples.model.Category" />
  	
    <jdal:service entity="org.jdal.samples.model.Book">
    	<jdal:criteria name="bookFilter" builder="bookCriteriaBuilder"/>
    </jdal:service>
    
    <!-- Used in field builders only  -->
    <bean id="jpaDaoFactory" class="org.jdal.dao.jpa.JpaDaoFactory" />
    <bean id="persistentServiceFactory" class="org.jdal.service.PersistentServiceFactory" />
   	
   <bean id="bookCriteriaBuilder" class="org.jdal.samples.dao.filter.BookCriteriaBuilder"/>
   	
   <!-- UI Widgets -->

	<bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
		<property name="scopes">
			<map>
				<entry key="vaadin">
					<bean class="org.jdal.vaadin.beans.VaadinScope" />
				</entry>
			</map>
		</property>
	</bean>
   
	<vaadin:defaults />
	   
	<!-- Book table -->
	<vaadin:table entity="org.jdal.samples.model.Book" editor="bookEditor"
		filter-form="bookFilterView" scope="vaadin" selectable="true">
		<vaadin:columns>
			<vaadin:column name="id" display-name="ID" width="60" align="center" />
			<vaadin:column name="name" display-name="book.title" align="left" />
			<vaadin:column name="author" display-name="book.author" sort-property-name="author.name" width="150"/>
			<vaadin:column name="category" display-name="book.category" sort-property-name="category.name" width="200"/>
			<vaadin:column name="publishedDate" display-name="book.publishedDate" property-editor="customDatePropertyEditor"
				align="right"/>
			<vaadin:column name="isbn" display-name="book.isbn" />
		</vaadin:columns>
		<aop:scoped-proxy/>
	</vaadin:table>
	
	<!-- Sample of property editor for dates -->
	<bean id="customDatePropertyEditor" class="org.springframework.beans.propertyeditors.CustomDateEditor">
		<constructor-arg>
			<bean class="java.text.SimpleDateFormat">
				<constructor-arg value="MM/dd/yyyy" />
		    </bean>
		</constructor-arg>
		<constructor-arg value="true" />
	</bean>

	<!-- Book Form Editor -->
	<bean id="bookEditor" class="com.vaadin.ui.Form" scope="prototype">
		<property name="visibleItemProperties" value="#{ { 'name', 'author','category','isbn', 'publishedDate' } }" />
		<property name="width" value="500"  />
		<property name="formFieldFactory">
			<bean class="org.jdal.vaadin.ui.form.AnnotationFieldFactory">
				<property name="fieldProcessors">
					<list>
						<bean class="org.jdal.vaadin.ui.form.SizeFieldProcessor">
							<property name="defaultWidth" value="400px" />
						</bean>
					</list>
				</property>
			</bean>
		</property>
	</bean>
	
	<!-- Message Source -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" value="i18n/jdal" />
	</bean>
	

	<!-- Tx Advice -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
    <!-- the transactional semantics... -->
    <tx:attributes>
      <!-- all methods starting with 'get' and 'load' are read-only -->
      <tx:method name="get*" read-only="true"/>
      <tx:method name="load*" read-only="true"/>
      <!-- other methods use the default transaction settings -->
      <tx:method name="*"/>
    </tx:attributes>
  </tx:advice>
	
   <aop:config>
    <!-- Make all methods on package service transactional  -->
     <aop:pointcut id="serviceOperation" 
     	expression="execution(* org.jdal.service.PersistentService.*(..))"/>
     <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation"/>
  </aop:config>

</beans>

